################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IronyFortran/.vs/IronyFortran/v14
/IronyFortran/bin/Debug
/IronyFortran/obj/Debug
/IronyFortran/packages/NUnit.3.2.0
